body {
  margin: 0;
  background-color: #15E8CB;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.anav {
  text-decoration: none;
  color: #15E8CB;
}

.anav:hover {
  color: #14ccb3
}

.nav {
  background-color: #1766FF;
  overflow: hidden;
  width: 100%;
}

.navbar {
  list-style-type: none;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.face {
  border-radius: 50%
}

.navlink {
  font-size: 30px;
  display: inline;
  padding-left: 5%;
  padding-right: 5%;
  color: #17FF9D;
}

.socialnavlink {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}

.sociallinkgithub {
  color: #ffffff;
  transition: 0.3s;
}

.content {
  padding: 16px;
}

.sociallinkgithub:hover {
  color: #000000;
  transition: 0.3s;
}

.title {
  color: #1766FF;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 125px;
}

.para {
  font-size: 16px;
}
